{% include 'base/head.html' %}
{% include 'base/header.html' %}
{% include 'base/nav_bar.html' %}

<a href="/listar-professor">
        <button class="btn btn-lg btn-success">
            Voltar
        </button>
    </a>
    <hr>
<div class="col-md-3 col-md-offset-4">
        <form action="/atualizar-professor/{{ professor.id }}" method="POST">
            <div class="form-group">
                    {{ form_professor.nome(class="form-control", value=professor.nome) }}
                    {{ form_professor.cargo(class="form-control", value=professor.cargo) }}
                    {{ form_professor.cpf(class="form-control", value=professor.cpf) }}
                    {{ form_professor.rua(class="form-control", value=professor.rua) }}
                    {{ form_professor.bairro(class="form-control", value=professor.bairro) }}
                    {{ form_professor.login(class="form-control", value=professor.login) }}
                    {{ form_professor.institucional(class="form-control", value=professor.institucional) }}
                    {{ form_professor.area(class="form-control", value=professor.area) }}
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>