{% include 'base/head.html' %}
{% include 'base/header.html' %}
{% include 'base/nav_bar.html' %}


<a href="/cadastrar-professor">
        <button class="btn btn-lg btn-success">
            Cadastrar
        </button>
    </a>
    <hr>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cpf</th>
                    <th>Rua</th>
                    <th>Bairro</th>
                    <th>E-mail / Login</th>
                    <th>Área</th>
                    <th>cargo</th>
                    <th>institucional</th>
                    <th>Atualizar</th>
                    <th>Excluir</th>
                </tr>
                {% for p in professor %}
                <tr>
                    <td>
                        {{ p.id }}
                    </td>
                    <td>
                        {{ p.nome }}
                    </td>
                    <td>
                        {{ p.cpf }}
                    </td>
                    <td>
                        {{ p.rua }}
                    </td>
                    <td>
                        {{ p.bairro }}
                    </td>
                    <td>
                        {{ p.login }}
                    </td>
                    <td>
                        {{ p.area }}
                    </td>
                    <td>
                        {{ p.cargo }}
                    </td>
                    <td>
                        {{ p.institucional }}
                    </td>
                <td>
                    <a href="{{ url_for('atualizar_professor', id=p.id)}}">Atualizar?</a>
                </td>
                <td>
                    <a href="{{ url_for('excluir_professor', id=p.id)}}">Excluir?</a>
                </td>
                </tr>
                {% endfor %}
        </table>
        </div>
