{% include 'base/head.html' %}
{% include 'base/header.html' %}
{% include 'base/nav_bar.html' %}

    {% block content %}
    <div class="col-md-3 col-md-offset-4">
        <form action="/editar-professor" method="POST">
            <div class="form-group">
                <label>Cadastrar Professor</label>
                {{ data[0].nome(class="form-control", placeholder="Insira o nome") }}
                {{ data[0].cargo(class="form-control", placeholder="Insira o cargo") }}
                {{ data[0].rg(class="form-control", placeholder="Insira o rg") }}
                {{ data[0].cpf(class="form-control", placeholder="Insira o cpf") }}
                {{ data[0].rua(class="form-control", placeholder="Insira o rua") }}
                {{ data[0].numero(class="form-control", placeholder="Insira o numero") }}
                {{ data[0].bairro(class="form-control", placeholder="Insira o bairro") }}
                {{ data[0].login(class="form-control", placeholder="Insira o login") }}
                {{ data[0].senha(class="form-control", placeholder="Insira a senha") }}

                {{ data[1].institucional(class="form-control", placeholder="Insira a institucional") }}
                {{ data[1].area(class="form-control", placeholder="Insira a area") }}
                {{ data[1].usuario(class="form-control", placeholder="Aqui vai ser um select pra buscando no bd os usários") }}

            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
    {% endblock%}

{% include 'base/footer.html' %}
